/* body{
    
    display: flex;
    justify-content: center;
    align-items: center;
} */




.container{
    height:800px;
    width: 800px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    border: 2px solid black;
}

.container div{
    border: 0.5px solid black;
    box-sizing: border-box;
}